.colorDemo {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    top: 18px;
    left: 275px;
}
#saveColor {
    margin-top: 130px;
    display: block;
}
#savedColors {
    margin-top: 20px;
}
.swatch {
    width: 100px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 5px;
}
.deleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}